.tiktokContent{
    padding: 0 10px;
    .button{
        text-align: right;
        button{
            background-color: #169bd5;
            color: #fff;
        }
    }
    .actionButton button{
        color: #169bd5;
    }
}