body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

/* 修改滚动条的样式 */
::-webkit-scrollbar {
  width: 5px; /* 滚动条宽度 */
}
::-webkit-scrollbar-track {
  background: rgb(0, 12, 23); /* 滚动条轨道背景颜色 */
}
::-webkit-scrollbar-thumb {
  background: rgba(99, 143, 184, 0.6); /* 滚动条滑块颜色 */
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 143, 184, 0.9); /* 滚动条滑块悬停时的颜色 */
}
